@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Patrick+Hand&family=Shadows+Into+Light+Two&display=swap');

:root {
  --bg-color: #181a1a;
  --text-color: #F7F5EC;
  --accent-red: #E03D38;
  --accent-green: #4C8C53;
  --subtext-color: #D1CBBF;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin-bottom: 1.5rem;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: var(--header-height); */
  background-color: var(--bg-color);
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 1rem 0 0 2.4rem;
  z-index: 100;
  border-bottom: 1px solid var(--bg-color);
}

.header-wrapper {
  position: relative;
  width: 100%;
}

/* Menu container holding relative context for decorative background elements */
.menu-container {
  position: relative;
  width: 100%;
  max-width: 1300px;
  padding: 40px 20px 0px 20px;
  overflow: hidden;
  /* Keeps background images contained */
  margin: 0 auto;
}

.menu-title {
  display: inline-block;
  position: relative;
}

.menu-logo {
  width: calc(2263px * 0.16);
  height: calc(767px * 0.16);
  z-index: 1;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.section-title {
  margin-bottom: 1rem;
}

.left-side {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.right-side {
  position: relative;
}

.bg-asset {
  position: absolute;
  width: 120px;
  /* Prevents interference with text selection or clicks */
  pointer-events: none;
  z-index: -1;
}

/* Positioning individual artwork elements */
.bg-loeffel {
  transform: translate(100%, 130%);
}

.bg-basilikum {
  top: 2.4rem;
}

.bg-tomato {
  /* transform: translate(280%, -120%); */
  right: 10rem;
  width: 130px;
}

.bg-pizza {
  right: -80px;
  width: 280px;
  opacity: 0.18;
}

.zuppa-title-img {
  width: calc(1650px * 0.12);
  height: calc(403px * 0.12);
}

.insalata-title-img {
  width: calc(2315px * 0.12);
  height: calc(429px * 0.12);
}

.pizza-title-img {
  width: calc(2742px * 0.12);
  height: calc(358px * 0.12);
}

.pasta-title-img {
  width: calc(1192px * 0.12);
  height: calc(267px * 0.12);
}

.menu-item {
  margin-bottom: 0.6rem;
}

.item-header {
  display: flex;
  column-gap: 1rem;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.item-desc {
  font-size: 1rem;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  color: var(--subtext-color);
  margin-top: 0.12rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  max-width: 28rem;
  text-wrap: wrap;
}

.item-desc.dressing {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.list-title {
  margin-right: 2rem;
}

.item-desc.dressing ul {
  margin: 0;
  padding: 0;
  margin-left: 1.2rem;
}

.footer {
  width: 100%;
  max-width: 1300px;
  padding: 20px;
  margin: 0 auto
}


.notice-box {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer-ec-karte-notice {
  width: calc(972px * 0.5);
}

.notice-box__fragen {
  display: flex;
  flex-wrap: wrap;
}

.footer-fragen-notice {
  width: calc(2940px * 0.14);
  height: calc(90px * 0.14);
}

.footer-fragen-notice-ext {
  width: calc(2330px * 0.14);
  height: calc(90px * 0.14);
}

@media (max-width: 576px) {
  .section {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 10rem;
      margin-bottom: 4rem;
    }
}